<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449517618313-9ctfhij5j4rrinchehq12027eoq00c8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449517618313-9ctfhij5j4rrinchehq12027eoq00c8h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>449517618313-s1bmot9r3ic4s0g84ff13b5uasn2l0nv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBorDPIrW3EJEdQabcejj8ETqqOCaFBHjE</string>
	<key>GCM_SENDER_ID</key>
	<string>449517618313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainnel.app</string>
	<key>PROJECT_ID</key>
	<string>brainnel-7eead</string>
	<key>STORAGE_BUCKET</key>
	<string>brainnel-7eead.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449517618313:ios:3e9f674f16a8ca5174b258</string>
</dict>
</plist>